<header class = 'header'>
    <a href="/" class="header__logo">Blogs App</a>
    <nav class="header__nav">
        <ul>
            <li ><a href="/" class="Home">Home</a></li>
            <li ><a href="/about" class="About">About</a></li>
            <li ><a href="/admin" class="Home">Login</a></li>     
        </ul>
    </nav>
    <div class="header__button">
        <form action="/search" method="get" class="search-form">
            <input type="text" name="post" placeholder="Search..." class="search-input">
            <button type="submit" class="searchBtn">Search</button>
        </form>
    </div>
</header> 