<header class = 'header'>
    <a href="/" class="header__logo">Admin panel</a>
    <nav class="header__nav">
    </nav>
    <div class="Logout__button">
           <!-- <button type="submit" class="log">Logout</button>--> 
    </div>
</header> 