<form action="/admin/login" method="post" class="login-form">
    <label for="username"  class="login-labels"><b>Username</b></label>
    <input type="text" name ='username' placeholder="Enter username" required>
    <label for="password" class="login-labels"><b>Password</b></label>
    <input type="text"name ='password' placeholder="Enter password" required>
    <input type="submit" value="Login" class="login-btn">
    <a href="/admin/signup">sign up</a>
</form>